@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.contact_heading{
    text-align: center;
}

.contact_img{
    height: 100vh;
}

.contact_form{
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.icons{
    text-align: center;
}


/* navbar  */
nav .navbar-brand {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
  }
  
  nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
  }
  
  nav .nav-cta {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #3a3a3a;
    background: #fffef2;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  nav .nav-cta:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #fffbd4;
  }
  
  .scrolled {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #fff !important;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  /* navbar end  */
  
  .card-title{
    font-weight: bold ;
  }

 .maps{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
 }

  .res{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    border: 0;
  }

.card{
  box-shadow: 2px 2px 10px black;
}

.page-footer{
  background: black;
  color: white;
}